* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --cor-fundo: #0f1729;
    --cor-fundo-sidebar: #131c31;
    --cor-texto: #ffffff;
    --cor-destaque: #3b82f6;
    --cor-fundo-card: #182338;
    --cor-texto-secundario: #94a3b8;
    --cor-borda: #2a3852;
}

body {
    display: grid;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
        "sidebar topo"
        "sidebar conteudo";
}

aside {
    grid-area: sidebar;
   background-color: var(--cor-fundo-sidebar);
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    grid-area: topo;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    grid-area: conteudo;
}

a {
    text-decoration: none;
    color: white;
}

li {
    padding: 10px;
}

ul {
    list-style: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid var(--cor-borda);
    text-align: left;
}

input {
    padding: 8px;
    background-color: var(--cor-fundo-card);
    color: var(--cor-texto);
    border: 1px solid var(--cor-borda);
    border-radius: 4px;
}
button{
    padding: 8px 16px;
    border-radius: 4px;
    background-color: var(--cor-destaque);
    color: white;
}

#grafico {
    height: 300px;
    background-color: var(--cor-fundo-card);
    border-radius: 12px;
}

.cards-container {
    display: flex;
    gap: 20px;
}

.card {
    padding: 20px;
    background-color: var(--cor-fundo-card);
    border-radius: 12px;
    flex-grow: 1;
}
.card p {
    color: var(--cor-texto-secundario);
}
@media (max-width:768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        grid-template-areas:
            "sidebar"
            "topo"
            "conteudo";
    }
    .cards-container{
        flex-direction: column;
    }
    header{
        flex-direction: column;
    }
}